br {
  clear: both;
}
.entry--full {
  -lh-property: 0;
width:-webkit-calc(100% - 140px);
width:-moz-calc(100% - 140px);
width:calc(100% - 140px);
;
  margin-left: 70px;
  padding: 0 2.097902%;
  border: none;
  position: relative;
}
.entry__container:before {
  display: none;
}
.entry__info__block {
  font-weight: 700;
  font-size: 13px;
  color: #313131;
  text-align: right;
  line-height: 25px;
  padding: 15px 0;
}
.entry__info__block span {
  display: block;
  margin: 0;
}
.entry__info__block:not(:last-of-type) {
  border-bottom: 1px solid #e7e7e7;
}
.entry__container {
  padding: 0 2.097902%;
}
.entry__info {
  width: 14.914%;
  margin-left: 4.847%;
  float: left;
  margin-right: 2.097902%;
}
.entry__date,
.entry__comments {
  color: #585858;
  font-weight: 300;
}
.entry__date:before,
.entry__comments:before {
  display: none;
}
.entry__share i {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: #fff;
  background: #3360b2;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.entry__share i:before {
  position: absolute;
  left: 6px;
  top: 4px;
}
.entry__share i:nth-of-type(2):before {
  left: 4px;
}
.entry__share i:nth-of-type(2) {
  background: #08b0e0;
}
.entry__share i:nth-of-type(3) {
  background: #ef5c5c;
}
.entry__share i:nth-of-type(4) {
  color: #ae0a0a;
  background: #fff;
  font-size: 23px;
}
.entry__share i:nth-of-type(4):before {
  top: 0;
  left: 0;
}
.entry__content {
  font-size: 14px;
  line-height: 22px;
  color: #626262;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.entry__content span {
  margin: 15px 0;
  display: block;
}
.entry__title {
  font-size: 50px;
  line-height: 56px;
  margin: 14px 0;
}
.entry__title--min {
  color: #404040;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}
.entry__text {
  width: 75.929%;
  float: left;
}
.control {
  border: 1px solid #ebebeb;
  width: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  top: 109px;
  right: 0;
  font-size: 20px;
}
.control a {
  height: 67px;
  text-align: center;
  line-height: 67px;
  display: block;
  color: #626262;
  cursor: pointer;
}
.control a:hover {
  color: #3c3c3c;
  background: #f2f2f2;
}
.control a:not(:last-of-type) {
  border-bottom: 1px solid #ebebeb;
}
.comments {
  width: 75.929%;
  float: right;
  padding: 0 6% 0 2.097902%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.comments__avatar {
  background: url(../img/user.jpg);
  width: 56px;
  height: 56px;
  border-radius: 2px;
  float: left;
  margin-right: 15px;
}
.comments textarea {
  height: 52px;
  border: 2px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #fff;
  display: block;
  -lh-property: 0;
width:-webkit-calc(100% - 79px);
width:-moz-calc(100% - 79px);
width:calc(100% - 79px);
;
  resize: vertical;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.comments textarea:active,
.comments textarea:focus {
  outline: 2px solid #e76049;
}
.comments__counter {
  font-size: 18px;
  float: left;
}
.tabs {
  border-bottom: 2px solid #eaeef0;
}
.tabs__tab {
  display: inline-block;
  padding: 15px 0;
  position: relative;
  top: 2px;
  color: #5e5e5e;
  font-weight: 600;
  cursor: pointer;
}
.tabs__tab--active {
  border-bottom: 2px solid #5e5e5e;
}
.tabs__tab span {
  padding: 0 15px;
  display: block;
  vertical-align: middle;
}
.tabs__tab:not(:last-of-type) span {
  border-right: 1px solid #e0e1e3;
}
.comment {
  border-bottom: 1px dotted #c2c2c2;
  padding: 25px 0;
}
.comment--sub {
  margin-left: 60px;
}
.comment__avatar {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background-color: #adb1b5;
  float: left;
  margin-right: 15px;
}
.comment__avatar + div {
  padding-left: 50px;
}
.comment__author {
  font-size: 13px;
  color: #5e5e5e;
  font-weight: 700;
}
.comment__date {
  color: #777;
  font-size: 11px;
  font-weight: 600;
}
.comment__text {
  font-size: 13px;
  color: #646464;
  margin: 8px 0;
}
.comment__footer {
  font-size: 11.5px;
  color: #9a9a9a;
  font-family: Arial, sans-serif;
}
.comment__footer .rating__up {
  display: inline-block;
  border-right: 1px dotted #9a9a9a;
}
.comment__footer span {
  padding: 0 10px;
  cursor: pointer;
}
.comment__footer span .fa {
  font-size: 16px;
}
.faws {
  color: #ffbf03;
  float: right;
  position: relative;
  right: 0;
  top: 15px;
  right: 19px;
  font-size: 19px;
  cursor: pointer;
}
.faws:after {
  content: "0";
  display: inline-block;
  width: 23px;
  height: 23px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #e8e8e8;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  color: #5e5e5e;
  text-align: center;
  line-height: 23px;
  top: -3px;
  left: 5px;
}
.footer {
  width: 75.929%;
  float: right;
  padding: 0 6% 0 2.097902%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.footer .subscribe,
.footer .subscribe a {
  color: #a6b1b7;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}
.footer .subscribe .fa,
.footer .subscribe a .fa {
  margin-right: 10px;
}
@media all and (max-width: 900px) {
  .entry__info {
    margin-left: 0px;
    margin-right: 5.097902%;
  }
  .entry--full {
    padding: 10px;
  }
  .entry__text {
    width: 77.929%;
  }
  .control {
    display: none;
  }
}
@media all and (max-width: 1250px) {
  .entry__content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    font-size: 16px;
  }
  .entry__title--min {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0;
  }
  .entry__title {
    font-size: 36px;
    line-height: 43px;
  }
}
@media all and (max-width: 800px) {
  .entry__info {
    display: none;
  }
  .entry__text {
    width: 100%;
    overflow: hidden;
  }
  .comments {
    -lh-property: 0;
width:-webkit-calc(100% - 70px);
width:-moz-calc(100% - 70px);
width:calc(100% - 70px);
;
  }
  .footer {
    -lh-property: 0;
width:-webkit-calc(100% - 70px);
width:-moz-calc(100% - 70px);
width:calc(100% - 70px);
;
  }
}
@media all and (max-width: 500px) {
  .entry--full {
    -lh-property: 0;
width:-webkit-calc(100% - 70px);
width:-moz-calc(100% - 70px);
width:calc(100% - 70px);
;
  }
  .subscribe a {
    display: block;
    line-height: 30px;
  }
  .footer {
    width: 100%;
  }
}
@media all and (max-width: 460px) {
  .entry--full {
    width: 100%;
    margin: 0;
  }
  .comments {
    width: 100%;
  }
  .comment__avatar + div {
    padding-left: 43px;
  }
  .comment__avatar {
    margin: 0;
  }
  .entry__title {
    font-size: 21px;
    line-height: 26px;
  }
  .entry__title--min {
    font-size: 17px;
    line-height: 22px;
    color: #656565;
    font-weight: 600;
  }
  .comment__footer {
    display: none;
  }
}
